mixin item(href, active)
	if(active)
		li(class="active"): a( href=href ): block
	else	
		li: a( href=href ): block
mixin button(buttonClass, modalTarget)

	- buttonClass = buttonClass || 'vbtn vbtn-effect-shutter-vertical-out vbtn-corp'

	if(modalTarget != null)
		- modalTarget = modalTarget
	else
		- modalTarget = "#modalform"

	button(class=buttonClass data-func="vmodal" data-target=modalTarget)&attributes(attributes): block
mixin iconDefault(img)
	.vak-xs-12.vak-sm-6.vak-md-4.icon-wrap.icon-wrap-margin.icon-hover
		.icon-inner
			.icon-image
				.icon-image-inner: img(src=img)
			p.icon-title: block
mixin iconImageLeft(img)
	.vak-xs-12.vak-sm-6.vak-md-4.icon-wrap.icon-hover
		.icon-inner
			.icon-image: .icon-image-inner: img(src="")
			p.icon-title
mixin extra(img, title)
	.vrow.extra-row
		.vak-xs-12.vak-sm-6.extra-image
			img(src=img)
		.vak-xs-12.vak-sm-6
			p.vtitle-small-big.extra-title= title
			p.extra-text: block 
mixin who(img, name, pos, family)
	.vak-xs-12.vak-sm-6.vak-md-3.who-wrap
		.who
			.who-header
				.who-image: img(src=img)
			.who-body
				p.who-title= name
				p.who-pos= pos
			if(family == true)
				.who-footer
					p.who-footer-title С ребенком и женой
					.who-footer-img
						.who-footer-img-inner: img(src="img/child.png")
						.who-footer-img-inner: img(src="img/women.png")
